body.screen-oneFile {
  overflow: hidden;
  height: 100%; }

body.screen-oneFile #ReactRoot, body.screen-oneFile .fileDetails {
  height: 100%; }

.fileDetails {
  display: flex;
  flex-direction: column; }

.fileDetails header {
  flex: 0 0 auto; }

.fileDetails .textWrapper {
  position: relative;
  flex: 1 1 auto; }

.fileDetails .saveBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 15px;
  padding-bottom: 7px;
  background: #33993d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #f9f9f7;
  border-radius: 1px;
  min-width: 80px; }

.fileDetails .saveBtn:hover {
  background: #39ac45; }

.fileDetails .saveBtn.saving {
  background: #999; }

.fileDetails .editable {
  white-space: pre-wrap;
  margin-bottom: 100px;
  font-family: monospace; }

.fileDetails .editable:focus {
  outline: none; }

.fileDetails textarea:focus {
  outline: none; }

.fileDetails textarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border: none;
  min-height: 300px;
  background: #f9f9f7;
  padding: 10px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 18.2px;
  font-family: monospace; }
