.fullScreenFile { padding: 10px; }

.fullScreenFile h1 { padding: 0; margin: 0; margin-bottom: 10px; }

.fullScreenFile article { background: #f9f9f7; border-radius: 5px; padding: 5px 0; font-size: 14px; line-height: 18.2px; }

.fullScreenFile article p { min-height: 18.2px; margin: 0; padding: 0 10px; white-space: pre-wrap; }

.fullScreenFile article p:hover { background-color: rgba(0, 0, 0, 0.03); }

.fullScreenFile .backLink { display: inline-block; text-decoration: none; margin-bottom: 10px; }

.fullScreenFile .backLink:hover { text-decoration: underline; }
