.listOfFiles { padding: 10px; }

.listOfFiles h2 { padding: 0; margin: 0; margin-bottom: 10px; }

.listOfFiles ul { list-style: none; margin: 0; padding: 0; }

.listOfFiles li { list-style: none; margin: 0 -3px; padding: 0; }

.listOfFiles a { display: block; padding: 3px; color: #222; text-decoration: none; }

.listOfFiles a:hover { background: rgba(0, 0, 0, 0.05); text-decoration: underline; }

.listOfFiles a small { float: right; color: #999; }
