.listOfFiles h2 {
  display: inline-block;
  margin-right: 10px; }

.listOfFiles ul.files {
  list-style: none;
  margin: 0;
  padding: 10px; }

.listOfFiles ul.files li {
  list-style: none;
  margin: 0 -3px;
  padding: 0; }

.listOfFiles ul.files a {
  display: block;
  padding: 5px 3px;
  color: #333;
  text-decoration: none; }

.listOfFiles ul.files a:hover {
  background: rgba(0, 0, 0, 0.02);
  color: black;
  border-radius: 3px;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
  margin: 0 -3px; }

.listOfFiles ul.files a small {
  float: right;
  clear: both;
  color: #999; }
